@import url("header.css");
@import url("banner.css");
@import url("carousel.css");
@import url("topics.css");
@import url("contact.css");
@import url("footer.css");
@import url("form.css");
@import url("register.css");


:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --green: #1e8128;
    --green-degrade: linear-gradient(97.54deg, #69b9b6  35.49%, #6ce5bb  165.37%);
    --fonte-principal: "Poppins";
    --azul: #275cb9;
    --fonte-secundario: "Josefin Sans";
    --preto: #000000;
    --cinza: #474646;
    --cinza-claro: #858585;
    --vermelho: #D94937;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}